div{
    display:flex;
    flex-wrap: wrap;
    /* justify-content:center; */
}
div a{
    background-color: rgb(42, 6, 78);
    padding:.3rem 1rem;
    margin:.2rem .15rem;
    border-radius:10rem;
    color:white;
    font-weight:600;
}